#dcsify-darklight-theme {
  top: -4px;
}
/* scrollbar */
/* 设置滚动条的颜色 */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}


/* tooltip */
.loadingTip {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 5px;
}

.hidden {
  display: none;
}

.tt-image {
  display: block;
}

i[title] {
  display: block;
  font-style: inherit;
  cursor: copy;
}

#tooltip {
  position: fixed;
  width: 150px;
  padding: 4px;
  margin: 0;
  background: #fff;
  /* opacity: 0; */
  transition: opacity 0.2s;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4);
}

#tooltip img {
  display: block;
  padding: 0;
  margin: 0;
  width: 100%;
}

p span {
  cursor: pointer;
}

.show {
  opacity: 1 !important;
}

/* 手风琴 */
ul.accordion-wrapper>li.active>p:first-of-type::after {
  border-bottom-color: var(--background) !important;
}

.accordion {
  background: #081623 !important;
}

.accordion.active .accordion-content-container {
  background: var(--background);
}

body {
  background: var(--background);
}

main {
  z-index: 1;
  background: var(--background);
}

/* 语法高亮 */
pre:after {
  color: var(--codeTypeColor);
  color: #fff;
  box-sizing: border-box;
  content: attr(data-lang);
  text-transform: capitalize;
  height: 30px;
  line-height: 30px;
  background: var(--codeTitleColor);
  font-size: 16px;
  position: absolute;
  margin-top: -30px;
  left: 0;
  top: 30px;
  width: 100%;
  font-family: Ubuntu, sans-serif;
  font-weight: 700;
  padding: 0 80px;
  text-indent: 15px;
  text-align: center;
  float: left;
  z-index: 0;
  border-radius: 5px 5px 0 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  pointer-events: none;
}

pre:before {
  content: " ";
  position: absolute;
  border-radius: 50%;
  background: #fc625d;
  width: 12px;
  height: 12px;
  left: 12px;
  top: 28px;
  margin-top: -18px;
  box-shadow: 20px 0 #fdbc40, 40px 0 #35cd4b;
  z-index: 2;
}

.markdown-section pre {
  padding-top: 10px;
}

/* copy-code */
.docsify-copy-code-button {
  color: #333;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  line-height: 1.6;
  opacity: 0;
  outline: 0;
  padding: 2px 6px;
  position: absolute;
  transition: opacity 0.3s ease-in-out;
  vertical-align: middle;
  white-space: nowrap;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  right: 1px;
  top: px;
  z-index: 9999;
  background-color: #eee;
  background-image: linear-gradient(#fcfcfc, #eee);
  border: 1px solid #d5d5d5;
  border-radius: 3px;
  font-size: 0.8125em;
}

/* navgation */
#navgation,.nav-mask {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	right: -100%;
	-webkit-transition: all .5s cubic-bezier(0.190,1.000,0.220,1.000);
	-moz-transition: all .5s cubic-bezier(0.190,1.000,0.220,1.000);
	-o-transition: all .5s cubic-bezier(0.190,1.000,0.220,1.000);
	transition: all .5s cubic-bezier(0.190,1.000,0.220,1.000);
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
	will-change: transform;
	-webkit-backface-visibility: hidden;
	z-index: 99
}

.nav-mask {
	right: 0;
	background-color: rgba(0,0,0,.8);
	visibility: hidden;
	opacity: 0
}

#navgation:before {
	-webkit-transition: all .5s cubic-bezier(0.190,1.000,0.220,1.000);
	-moz-transition: all .5s cubic-bezier(0.190,1.000,0.220,1.000);
	-o-transition: all .5s cubic-bezier(0.190,1.000,0.220,1.000);
	transition: all .5s cubic-bezier(0.190,1.000,0.220,1.000);
	-webkit-transform: translateZ(0) translateX(45%) skew(-12deg);
	-moz-transform: translateZ(0) translateX(45%) skew(-12deg);
	-ms-transform: translateZ(0) translateX(45%) skew(-12deg);
	-o-transform: translateZ(0) translateX(45%) skew(-12deg);
	transform: translateZ(0) translateX(45%) skew(-12deg);
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
	opacity: 0;
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	z-index: 11;
	width: 40%;
	height: 100%;
	background-color: #fff;
	background-image: -webkit-linear-gradient(46deg,#fff,#f1f2f0);
	background-image: -moz-linear-gradient(46deg,#fff,#f1f2f0);
	background-image: -o-linear-gradient(46deg,#fff,#f1f2f0);
	background-image: linear-gradient(46deg,#fff,#f1f2f0)
}

#navgation.active {
	right: 0;
	visibility: visible
}

#navgation.active:before,.nav-mask.active {
	opacity: 1;
	visibility: visible
}

#navgation .nav-wrapper {
	left: 0;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 101
}

#navgation .nav-wrapper:before,#navgation .nav-wrapper .nav {
	display: inline-block;
	vertical-align: middle
}

#navgation .nav-wrapper:before {
	height: 100%;
	content: ''
}

#navgation .nav-wrapper .nav {
	width: 100%;
	position: fixed;
	top: 50%;
	margin-top: -150px;
}

#navgation .nav-wrapper .nav li {
	display: block;
	text-align: right
}

#navgation .nav-wrapper .nav li a {
	display: inline-block;
	line-height: 46px;
	padding: 10px 50px;
	font-size: 20px;
	color: #686967;
	text-decoration: none;
	-webkit-transition: color .6s linear;
	transition: color .6s linear;
	position: relative
}

#navgation .nav-wrapper .nav li a:hover {
	color: #258fb8;
}

#navgation .nav-wrapper .nav li a:before {
	-webkit-transition: all .3s linear;
	transition: all .3s linear;
	content: '';
	height: 1px;
	background-color: transparent;
	position: absolute;
	top: 50%;
	left: 15px;
	right: 105px
}

#navgation .nav-wrapper .nav li a:hover:before {
	background-color: #258fb8;;
	right: 15px
}

#navgation .nav-wrapper .logo {
	display: block;
	width: 185px;
	height: 50px;
	background: url(../img/logo.png) no-repeat;
	background-size: cover;
	position: absolute;
	bottom: 30px;
	right: 50px
}

/* v4-pre-loaded */
#v4-pre-loaded {
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 19900207;
  text-align: center;
  -webkit-transition: all .36s linear;
  transition: all .36s linear
}

#v4-pre-loaded:before,#v4-pre-loaded .loading {
  display: inline-block;
  vertical-align: middle
}

#v4-pre-loaded:before {
  content: '';
  height: 100%
}

#v4-pre-loaded .loading {
  width: 146px;
  height: 146px;
  background: url(../img/smohan_logo_mask.png) 50% no-repeat;
  background-size: cover;
  -webkit-transition: all .36s linear;
  transition: all .36s linear;
  -webkit-animation: loadingInit 1.3s cubic-bezier(0.30, 2.40, 0.85, 2.50) infinite;
            animation: loadingInit 1.3s cubic-bezier(0.30, 2.40, 0.85, 2.50) infinite; 
  /*margin-top: -148px*/
}

#v4-pre-loaded .loading:after {
  width: 100%;
  line-height: 36px;
  content: 'The page is loading...';
  position: absolute;
  left: 0;
  bottom: -36px;
  font-size: 14px;
  text-align: center;
  color: #787977;
  opacity: 0;
  -webkit-transition: opacity .36s linear;
  transition: opacity .36s linear;
  -webkit-animation: fadeIn .8s linear 1s 1 forwards;
  animation: fadeIn .8s linear 1s 1 forwards
}

@-webkit-keyframes loadingInit {
  from, to {
  -webkit-transform: translateY(-15vh) scaleY(1.02);
          transform: translateY(-15vh) scaleY(1.02);
  }
  80% {
  -webkit-transform: translateY(-30vh) scaleY(.98);
          transform: translateY(-30vh) scaleY(.98);
  }
}

@keyframes loadingInit {
  from, to {
  -webkit-transform: translateY(-15vh) scaleY(1.02);
          transform: translateY(-15vh) scaleY(1.02);
  }
  80% {
  -webkit-transform: translateY(-30vh) scaleY(.98);
          transform: translateY(-30vh) scaleY(.98);
  }
}

#v4-pre-loaded.hide {
  opacity: 0;
  visibility: hidden
}